#about{
    width: 100vw;
    min-height: 100vh;
    background: url('../resources/image_resources/about.webp') no-repeat;
    background-size: 100% 100%;
    font-family: Oscine, sans-serif;
}

#about_title_pic{
    background: url(../resources/image_resources/about_title.jpg) no-repeat;
    background-size: 100% 100%;
}


#about_main{
    width: 90vw;
    background-color: var(--main-bg-color);
    min-height: 100vh;
    margin: 0vh auto 0 auto;
    border: var(--border_color);
    color: var(--about-text-color);
}

#about_description{
    width: 100%;
    padding-left: 2vw;
    padding-bottom: 5vh;
}
.about_item{
    text-align: left;
    word-wrap: break-word;
}

.about_description_pic{
    width: 96%;
    height: 20vh;
    min-height: 200px;
    margin-bottom: 2vh;
    clip-path: polygon(0% 0%,100% 0%,95% 100%,0% 100%);
}
#about_description h5{
    font-size: 6em;
    font-weight: 200;
    margin-bottom: 3vh;
}
#about_description p{
    width: 80vw;
    font-size: 2em;
    margin-bottom: 10vh;
    font-weight: 300;
    color: rgb(97, 97, 97);
    word-wrap: break-word;
}

@media (max-width: 550px) {
    #about{
        background-size: 200% 100%;
    }
}
@media (min-width: 600px) {
    .about_description_pic{
        height: 40vh;
        min-height: 400px;
    }
}
@media (min-width: 900px) {
    .about_description_pic{
        width: 60%;
    }
}
