#about{
    width: 100vw;
    min-height: 100vh;
    background: var(--soft-bg-color);
    font-family: Oscine, sans-serif;
}

#about_title_pic{
    background: url(../resources/image_resources/about_title.webp) no-repeat;
    background-size: 100% 100%;
    border-color: black;
}


#about_main{
    width: 95vw;
    background-color: var(--main-bg-color);
    min-height: 100vh;
    margin: 0vh auto 0 auto;
    border: var(--border_color);
    color: var(--about-text-color);
}

#about_description{
    width: 100%;
    padding-left: 2vw;
    padding-bottom: 5vh;
}
.about_item{
    width: 100%;
    text-align: left;
    word-wrap: break-word;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vh;
}

.about_description_pic{
    width: 96%;
    height: 20vh;
    min-height: 200px;
    margin-bottom: 2vh;
    /* clip-path: polygon(0% 0%,100% 0%,95% 100%,0% 100%); */
}
#about_description h5{
    font-size: 6em;
    font-weight: 200;
    margin-bottom: 3vh;
    color: var(--extreme-text-color);
}
#about_description p{
    width: 95%;
    font-family: Oscine, sans-serif;
    font-size: 2.7em;
    font-weight: 400;
    line-height: 1.5;
    color: var(--about-text-color);
    margin-bottom: 1em;
    word-wrap: break-word;
}

@media (max-width: 550px) {
    #about{
        background-size: 200% 100%;
    }
}
@media (min-width: 600px) {
    .about_description_pic{
        height: 40vh;
        min-height: 400px;
    }
}
@media (min-width: 900px) {
    .about_item{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-bottom: 10vh;
    }
    .about_item :last-child{
        width: 35vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-self: center;
        text-align: left;
    }
    #about_description h5{
        font-size: 9em;
        align-self: flex-end;
        padding-right: 1vw;
    }
    #about_description p{
        width: 100%;
    }
    .about_description_pic{
        width: 45vw;
        clip-path: polygon(0% 0%,100% 0%,75% 100%,0% 100%);
    }
    .reverse_about_pic{
        order: 2;
        clip-path: polygon(25% 0%,100% 0%,100% 100%,0% 100%) !important;
    }
}
