#pic_1{
    background: url(images/works/pic_1.png) no-repeat;  
    background-size: 100% 100%; 
}
#pic_2{
    background: url(images/works/pic_2.png) no-repeat;  
    background-size: 100% 100%;
}
#pic_3{
    background: url(images/works/pic_3.png) no-repeat;  
    background-size: 100% 100%;
}
#pic_4{
    background: url(images/works/pic_4.png) no-repeat;  
    background-size: 100% 100%;
}
#pic_5{
    background: url(images/works/pic_5.png) no-repeat;  
    background-size: 100% 100%;
}
#pic_6{
    background: url(images/works/pic_6.png) no-repeat;  
    background-size: 100% 100%;
}
#pic_7{
    background: url(images/works/pic_7.png) no-repeat;  
    background-size: 100% 100%;
}
