#first_works{
    width: 100vw;
    height: fit-content;
    margin-top: -40vh;
    padding-bottom: 5vh;
}

#first_display{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    background: var( --main-bg-color);
    padding-top: 5vh;
    border-top: 1px white solid;
}
#first_pics_title{
    position: relative;
    height: 10vh;
    display: flex;
    justify-content: center;
}
#works_logo{
    position: relative;
    width: 30vw;
    height: 50%;
    background-color: var(--main-bg-color);
    top: 70%;
    border-radius: 5vw;
    padding: 1vh;
    border: 1px white solid;
}
#first_pics{
    width: 69vw;
    height: 150vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vw;
    border-right: 1px white solid;
    padding-bottom: 5vh;
    padding-left: 3vw;
    padding-right: 3vw;
}
#first_pitch{
    width: 30vw;
    height: 100vh;
    background-color: var(--minor-bg-color);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.first_pitch_words{
    width: 100%;
    height: 30%;
    margin-top: 3vh;
}

.picture_first_display{
    width: 23vw;
    height: 30vh;
    border: 1px wheat solid;
    box-shadow: 0.3vh 0.3vh 0.3vh white,-0.3vh -0.3vh 0.3vh white;
    opacity: 0.9;
    
}
.picture_first_display:hover{
    transform: scale(0.9);
    opacity: 1;
}

#see_more{
    width: 70vw;
    height: 5vh;
    background-color: var(--minor-bg-color);
    text-align: center;
    font-size: 3em;
    margin-bottom: 3vh;
}

@media (max-width: 550px) {
    #first_display{
        flex-direction: column;
    }
    #first_pics{
        width: 100vw;
        height: 100vh;
        min-height: 500px;
        border: none;
        padding: 5vh 0 0 0;
        gap: 0;
    }
    .picture_first_display{
        width: 30vw;
        height: 15vh;
    }
    #first_pitch{
        width: 100vw;
        height: 40vh;
    }
    #see_more{
        width: 100vw;
    }
}