#first_works{
    width: 100vw;
    height: fit-content;
    padding-bottom: 5vh;
}

#work_display{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background: var(--soft-bg-color);
    padding-top: 5vh;
}
#first_pics_title{
    width: 100%;
    height: 20vh;
    min-height: 200px;
    top: -13vh;
    position: relative;
    color: var(--extreme-text-color);
}
#first_pics_title_pic{
    margin: 0 auto 0 auto;
    width: 18vw;
    height: 18vw;
    min-width: 65px;
    max-width: 100px;
    min-height: 65px;
    max-height: 100px;
    background:url(../resources/image_resources/team2.webp) no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    border: 7px var(--main-bg-color) solid;
    
}
#first_pics_title_text{
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 4em;
    margin-top: 3vh;
}
#first_socials{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;

}
#first_socials div{
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 8vw;
    margin-top: 2vh;
}
#first_socials div ion-icon{
    font-size: 5em;
}
#first_pics{
    position: relative;
    top: -20vh;
    width: 75vw;
    height: fit-content;
    background-color: var(--main-bg-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vh 0 0 0;
    border: 1px gray solid;
    border-top-right-radius: 2vw;
    border-top-left-radius: 2vw;
}
.picture_first_work{
    width: 15vw;
    max-width: 135px;
    max-height: 135px;
    height: 15vw;
    border: 1px black solid;
    box-shadow: 0.3vh 0.3vh 0.3vh var(--color-border),-0.3vh -0.3vh 0.3vh var(--color-border);
    opacity: 0.9;
    margin-left: 1vw;
    margin-bottom: 1vh;
    
}
.picture_first_work:hover{
    transform: scale(0.9);
    opacity: 1;
}

#first_pitch{
    position: relative;
    width: 25vw;
    height: 100vh;
    padding-top: 5vh;
    text-align: left;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: Oscine, sans-serif;
    padding: 2vh 1vw 5vh 1vw;
}
#first_pitch h3{
    font-size: 4em;
    font-weight: 100;
}

.first_pitch_promos{
    width: 100%;
    height: fit-content;
    padding: 1em;
    margin-top: 5vh;
}
.first_pitch_promos h4{
    font-size: 2.5em;
    font-weight: 100;
    margin-left: -0.5em;
}

.first_pitch_promos p{
    font-size: 2em;
    line-height: 1.2;
}




#see_more{
    width: 75vw;
    height: 5vh;
    background-color: var(--opposite-bg-color);
    text-align: center;
    font-size: 2.3em;
    color: var(--extreme-text-color);
    letter-spacing: 0.3em;
    -webkit-text-stroke: 1px var(--main-bg-color);
}
@media (max-width: 800px) {
    #work_display{
        flex-direction: column;
    }
    #first_pics{
        width: 90vw;
        height: fit-content;
        min-height: 500px;
        padding: 2vh 0 0 0;
        margin: 0 auto 0 auto;
        gap: 0;
    }
    #first_pics_title{
        top: -6vh;
    }
    #first_socials div ion-icon{
        font-size: 3em;
    }
    .picture_first_work{
        width: 20vw;
        height: 20vw;
        margin: 2vh 1vw 2vh 1vw;
        border: 1px black solid;
    }
    
    #first_pitch{
        width: 82vw;
        height: fit-content;
        top: -15vh;
        margin: 0 auto 0 auto;
        border: 1px gray solid;
        border-top: none;
        padding-left: 4vw;
        padding-right: 4vw;

    }
    
    #see_more{
        width: 90vw;
    }
    .offer_percent{
        font-size: 13vw;
    }
    #first_pitch h3{
        font-size: 7em;
    }
    .first_pitch_promos h4{
        font-size: 4.5em;
    }
}
@media (max-width: 550px) {
    .picture_first_work{
        width: 25vw;
        height: 20vw;
        margin: 2vh 1vw 2vh 1vw;
    }
}