#first_works{
    width: 100vw;
    height: fit-content;
    padding-bottom: 5vh;
}

#first_display{
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background: #f4f4f4;
    padding-top: 5vh;
    border-top: 1px white solid;
}
#first_pics_title{
    position: relative;
    height: 10vh;
    display: flex;
    justify-content: center;
}
#works_logo{
    position: relative;
    width: 20vw;
    height: 50%;
    background: url(../resources/image_resources/team2.webp) no-repeat;
    background-size: 100% 100%;
    top: 70%;
    border-radius: 50%;
    padding: 1vh;
    border: 1px black solid;
}
#first_pics{
    position: relative;
    top: -20vh;
    width: 75vw;
    height: fit-content;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5vh 0 10vh 0;
    border: 1px var(--color-border) solid;
    border-top-right-radius: 2vw;
    border-top-left-radius: 2vw;
}
.picture_first_display{
    width: 15vw;
    height: 15vw;
    border: 1px rgb(128, 126, 126) solid;
    box-shadow: 0.3vh 0.3vh 0.3vh white,-0.3vh -0.3vh 0.3vh white;
    opacity: 0.9;
    margin-left: 1vw;
    margin-bottom: 1vh;
    
}
.picture_first_display:hover{
    transform: scale(0.9);
    opacity: 1;
}

#first_pitch{
    position: relative;
    width: 25vw;
    height: 100vh;
    background-color: var(--minor-bg-color);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.first_pitch_words{
    width: 100%;
    height: 30%;
    margin-top: 3vh;
    border-bottom: 1px black solid;
}

.pitch_pictures{
    width: 100%;
    height: 50%;
    border-bottom: 1px black solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.pitch_pictures img{
    height: 15vh;
}


#see_more{
    width: 70vw;
    height: 5vh;
    background-color: var(--minor-bg-color);
    text-align: center;
    font-size: 3em;
    margin-bottom: 3vh;
}

@media (max-width: 550px) {
    #first_display{
        flex-direction: column;
    }
    #first_pics{
        width: 90vw;
        height: fit-content;
        min-height: 500px;
        border: none;
        padding: 2vh 0 0 0;
        margin: 0 auto 0 auto;
        gap: 0;
    }
    .picture_first_display{
        width: 20vw;
        height: 20vw;
        margin: 2vh 1vw 2vh 1vw;
    }
    #first_pitch{
        width: 100vw;
        height: 40vh;
        top: -15vh;
    }
    #see_more{
        width: 100vw;
    }
}