#home{
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-color);
    font-size: 5px;
    padding-top: 5vh;
}

#home_logo{
    width: 70vw;
    min-width: 100px;
    max-width: 150px;
    min-height: 80px;
    height: 20vh;
    max-height: 100px;
    margin: 0 auto 0 auto;
    background: url('images/logo_transparent1.webp') no-repeat;
    background-size: 100% 100%;
}


#home_header{
    width: 100vw;
    height: 3vh;
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.2em;
    border-bottom: 1px var(--color-golden) solid;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}



#quick_contact{
    position: fixed;
    top: 2vh;
    left: 1vw;
    height: 3vh;
    width: 90vw;
    max-width: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 1vh;
    z-index: 100;
    transition: 0.5;
}

#quick_contact ion-icon{
    width: 15px;
    height: 15px;
    color: var(--text-color);
}

#quick_services{
    height: 4vh;
    min-width: 100vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#quick_services p{
    font-size: 2.4em;
    width: 20vw;
    margin-left: 1vw;
    color: aliceblue;
}

#quick_services ion-icon{
    color: white;
    width: 5vh;
    height: 4vh;
}

@media (min-width: 450px) {
    #quick_services{
        position: fixed;
        z-index: -100;
    }

}