*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}


:root{
    --main-bg-color:  #fff;
    --soft-bg-color: #f4f4f4;
    --main-bg-color-faded: #f9f6f0b3;
    --minor-bg-color: #f6ddf4;
    --opposite-bg-color: #545456;
    --text-color: #2b2a2a;
    --color-border: #686868;
    --extreme-text-color: #000000;
    --about-text-color: #4f4c50;
    --main-menu: #fbfafb;
    --main-menu-div: #312931;
    --light-dark: light;
}
@media (prefers-color-scheme: dark) {
    :root{
        --main-bg-color:  #000000;
        --soft-bg-color: #212020;
        --main-bg-color-faded: #1f1f1fb3;
        --minor-bg-color: #333133;
        --opposite-bg-color: #f9f6f0;
        --text-color: #cac6c6;
        --color-border: #f7f4ed;
        --extreme-text-color: #ffffff;
        --about-text-color: #bebcbf;
        --main-menu: #000000;
        --main-menu-div: #c0c0c0;
        --light-dark: dark;
    }
}

body{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5px;
    z-index: 1;
    -webkit-overflow-scrolling:touch
}
.flicker{
    transition: 0s !important; 
    animation-name: flicker;
    animation-duration: 0.5s;
}
@keyframes flicker{
    0%{opacity: 1;}
    10%{opacity: 0;}
    20%{opacity: 1;}
    30%{opacity: 0;}
    40%{opacity: 1;}
    50%{opacity: 0;}
    60%{opacity: 1;}
    70%{opacity: 0;}
    80%{opacity: 1;}
    90%{opacity: 0;}
    100%{opacity: 1;}
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
input{
    background-color: var(--soft-bg-color);
    color: var(--text-color);
    border-radius: 0.5em;
    padding-left: 0.5em;
}
input::placeholder{
    color: var(--text-color);
}
textarea{
    background-color: var(--soft-bg-color);
    color: var(--text-color);
    border-radius: 0.5em;
    padding-left: 0.5em;
}
textarea::placeholder{
    color: var(--text-color);
}

main{
    z-index: 2;
    position: relative;
    background-color: var(--main-bg-color);
    height: fit-content;

}

.align_text_right{
    text-align: right;
}
.align_text_left{
    text-align: left;
}
.title{
    width: 100%;
    height: 20vh;
    min-height: 200px;
    top: -13vh;
    position: relative;
}
.title_pic{
    margin: 0 auto 0 auto;
    width: 18vw;
    height: 18vw;
    min-width: 65px;
    max-width: 100px;
    min-height: 65px;
    max-height: 100px;
    border-radius: 50%;
    border: 7px var(--main-bg-color) solid;
    
}
.title_text{
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 4em;
    margin-top: 3vh;
    font-weight: 700;    
    color: #988e9f;
    font-family: Roboto Condensed,Lato,Arial,sans-serif!important;
}
.section_intro{
    width: 100%;
    height: 80vh;
    min-height: 400px;
}
.section_intro_inner{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_intro_inner h5{
    font-size: 7vw;
    -webkit-text-stroke: 2px #fff;
}


@media (max-width: 800px) {
    .title{
        top: -6vh;
    }
}
@media (max-width: 550px) {
  .section_intro{
        height: 50vh;
        min-height: 300px;
        max-height: 400px;
    }
    .section_intro_inner h5{
        font-size: 10vw;
        -webkit-text-stroke: 1px #fff;
    }
}