*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}


:root{
    --main-bg-color:  #fff;
    --soft-bg-color: #f4f4f4;
    --main-bg-color-faded: rgba(249, 246, 240, 0.7);
    --minor-bg-color: rgb(246, 221, 244);
    --opposite-bg-color: rgb(84, 84, 86);
    --text-color: rgb(43, 42, 42);
    --color-border: rgb(104, 104, 104);
    --extreme-text-color: black;
    --about-text-color: #6a666c;
}
@media (prefers-color-scheme: dark) {
    :root{
        --main-bg-color:  #000000;
        --soft-bg-color: #212020;
        --main-bg-color-faded: rgba(31, 31, 31, 0.7);
        --minor-bg-color: rgb(51, 49, 51);
        --opposite-bg-color: rgb(249, 246, 240);
        --text-color: rgb(202, 198, 198);
        --color-border: rgb(247, 244, 237);
        --extreme-text-color: white;
        --about-text-color: #bebcbf;
    }
}

body{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5px;
    
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main{
    z-index: 1;
    position: relative;
    background-color: var(--main-bg-color);
}

.align_text_right{
    text-align: right;
}
.align_text_left{
    text-align: left;
}
.title{
    width: 100%;
    height: 20vh;
    min-height: 200px;
    top: -13vh;
    position: relative;
}
.title_pic{
    margin: 0 auto 0 auto;
    width: 18vw;
    height: 18vw;
    min-width: 65px;
    max-width: 100px;
    min-height: 65px;
    max-height: 100px;
    border-radius: 50%;
    border: 7px var(--main-bg-color) solid;
    
}
.title_text{
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 4em;
    margin-top: 3vh;
    font-weight: 700;    
    color: #988e9f;
    font-family: Roboto Condensed,Lato,Arial,sans-serif!important;
}
.section_intro{
    width: 100%;
    height: 80vh;
}
.section_intro_inner{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_intro_inner h5{
    font-size: 7vw;
    -webkit-text-stroke: 2px #fff;
}


@media (max-width: 800px) {
    .title{
        top: -6vh;
    }
}
@media (max-width: 550px) {
  .section_intro{
        height: 50vh;
        max-height: 400px;
    }
    .section_intro_inner h5{
        font-size: 10vw;
        -webkit-text-stroke: 1px #fff;
    }
}