#second_display{
    width: 100vw;
    min-height: 150vh;
    height: fit-content;
    margin-bottom: 15vh;
    font-family: 'Times New Roman', Times, serif;
    background: url(../resources/image_resources/yazio.webp) no-repeat;
    background-size: 100% 100%;
    padding-top: 5vh;
}
#second_display_container{
    position: relative;
    width: 75vw;
    min-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto 0 auto;
}
.second_display_cover{
    position: relative;
    width: 35vw;
    height: 40vh;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3vh;
}
.second_display_cover h5{
    color: var(--extreme-text-color);
    font-size: 4em;
    margin-bottom: 1em;
}
.second_display_item{
    position: relative;
    width: 100%;
    height: 36vh;
    border: 1px var(--main-bg-color) solid;
    border-radius: 2em;
    overflow: hidden;
    z-index: 3;
}


.second_display_dex{
    position: absolute;
    width: 100%;
    bottom: 0vh;
    height: 80%;
    background: linear-gradient(0deg, purple, transparent);
    opacity: 1;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    padding-bottom: 10%;
}
.second_display_dex:target{
    bottom: 100%;
}
.second_display_dex p{
    font-size: 4em;
    width: 70%;
    text-align: right;
}
.second_display_dex :last-child{
    font-size: 2.5em;
}




@media (max-width: 700px) {
    #second_display_container{
        width: 100vw;
    }
    .second_display_cover{
        width: 95vw;
    }
    .second_display_cover h5{
        display: none;
    }
    .second_display_dex:hover{
        height: 70%;
        bottom: 100%;
    }
}
