#second_display{
    width: 100vw;
    min-height: 100vh;
    margin-bottom: 15vh;
    font-family: 'Times New Roman', Times, serif;
}
#second_display_container{
    width: 85vw;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto 0 auto;
}
.second_display_cover{
    position: relative;
    width: 45%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
}
.second_display_cover h5{
    color: var(--extreme-text-color);
    font-size: 4em;
}
.second_display_item{
    position: relative;
    width: 100%;
    height: 90%;
    border: 1px var(--main-bg-color) solid;
    border-radius: 2em;
    overflow: hidden;
    z-index: 3;
}

.rouge{
    position: absolute;
    width: 70%;
    height: 70vh;
    max-height: 600px;
    background-color: black;
    border-color: var(--extreme-text-color);
    margin-top: 5%;
    z-index: 2;
}
.rouge:hover{
    z-index: 4;
}

.second_display_dex{
    position: absolute;
    width: 100%;
    bottom: 0vh;
    height: 60%;
    background: linear-gradient(0deg, purple, transparent);
    opacity: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    padding-bottom: 10%;
}
.second_display_dex p{
    font-size: 4em;
    width: 70%;
    text-align: right;
}
.second_display_dex :last-child{
    font-size: 2.5em;
}

.second_display_dex:hover{
    opacity: 1;
    height: 100%;
}

@media (max-width: 550px) {
    #second_display_container{
        width: 95vw;
        height: 120vh;
    }
    .second_display_cover{
        width: 100%;
        height: 25%;
    }
    .second_display_cover h5{
        display: none;
    }
}