#services{
    width: 100vw;
    height: fit-content;
    font-family: Oscine, sans-serif;
}

#services_intro_picture{
    background: url(../resources/image_resources/services.webp) no-repeat;
    background-size: 100% 100%;
}

#services_title_pic{
    background: url(../resources/image_resources/first_display_logo.webp) no-repeat;
    background-size: 100% 100%;
}

#services_content{
    width: 100%;
    height: fit-content;
    padding: 0 1vw 5vh 1vw;
}

.service_item{
    width: 97vw;
    height: fit-content;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20vh;
}
.service_item_picture{
    width: 30vw;
    height: 50%;
    border: 1px var(--color-border) solid;
}
.service_item_picture:hover{
    transform: scale(0.95);
}
.service_item_picture_reverse{
    width: 30vw;
    height: 50%;
    border: 1px var(--color-border) solid;
    order: 2;
}
.service_item_picture_reverse:hover{
    transform: scale(0.95);
}
.service_item_description{
    position: relative;
    width: 60vw;
    height: 100%;
    top: -5vh;
    padding-right: 1vw;
    padding-left: 1vw;
}
.service_item_description h6{
    font-size: 7em;
    font-weight: 400;
    margin-bottom: 5vh;
}
.service_item_description p{
    font-size: 3em;
    font-weight: 300;
    margin-bottom: 1em;
    color: var(--about-text-color);
    word-wrap: break-word;
}

@media (min-width: 600px){
    .service_item {
        height: 40vh;
        min-height: 400px;
        margin-bottom: 0vh;
    }
    .service_item_description h6{
        font-size: 9em;
    }
    .service_item_description p{
        font-size: 2.9em;
    }
    .service_item_picture_reverse{
        clip-path: polygon(20% 0%,100% 0%,100% 100%,0% 100%);
    }
    .service_item_picture{
        clip-path: polygon(0% 0%,80% 0%,100% 100%,0% 100%);
    }
}