#team{
    width: 100vw;
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25vh;
    background-size: 200% 100%;
    background:url(../resources/image_resources/yazio.webp) no-repeat;
    background-size: 150% 100%;
    position: relative;

}

#team_title_pic{
    background:url(../resources/image_resources/team_title.webp) no-repeat;
    background-size: 100% 100%;
}

.teamline {
    background-color: #5918df;
    height: 90%;
    position: absolute;
    top: 15vh;
    left: 20vw;
    width: 1px;
    z-index: 9;
    display: flex;
    justify-content: center;
}
.littleCircle{
    position: absolute;
    width: 5px;
    height: 5px;
    top: -7px;
    border: 2px #5918df solid;
    border-radius: 50%;

}


.team_member{
    width: 55vw;
    max-width: 400px;
    height: 15vh;
    min-height: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 15vh;
    z-index: 44;
    
}
.team_member_pic{
    --width: 120px;
    width: var(--width);
    height: var(--width);
    background-size: 100% 100%;
    background-color: black;
    box-shadow: 4px 4px 4px #5918df,-4px -4px 4px #5918df;
    z-index: 4;
    justify-self: flex-end;
}
.team_member_pic img{
    opacity: 0.9;
}
.team_member_pic:hover{
    transform: scale(1.1);
}
.team_member_description{
    position: relative;
    top: -50px;
    width: 150%;
    color: #988e9f;
    font-weight: 700;
    word-wrap: break-word;
    line-height: 1.2;
    font-family: Roboto Condensed,Lato,Arial,sans-serif!important;
    font-size: 3em;
    text-align: right;
}
.team_member_skills{
    font-size: 90%; 
    width: 70%;
    margin-left: 30%;
}
.team_member_skills li{
    list-style-type: circle;
    margin-top: 0.3em;
    color: #c4bdc8;
}
.team_member_socials{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    padding-top: 1em;
    margin-left: 10%;
    color: white;
}
.end_description_line{
    height: 4px;
    width: 100%;
    margin-top: 1vh;
    background-color: #f9f9f9;

}

.team_member_number{
    color: rgb(72, 74, 74);
    padding-top: 1vh;
}

.team_member_left{
    margin-left: 0vw;
}
.team_member_right{
    margin-left: 0vw;
}

@media (max-width: 500px) {
    .teamline{
        left: 15vw;
    }
    .team_member{
        margin-left: -20vw;
    }
    .team_member_skills{
        font-size: 70%; 
        width: 80%;
        margin-left: 20%;
    }
    .team_member_description{
        width: 200%;
    }
    .team_member_socials{
        font-size: 0.9em;
    }
}

@media (min-width: 1000px) {
    .team_member{
        margin-top: 25vh;
    }
    .team_member_left{
        margin-left: -35vw;
    }
    .team_member_right{
        margin-left: 35vw;
    }
    .team_member_pic{
        --width: 250px;
    }
    
}