#team{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5vh;
    background-size: 200% 100%;
    background-color: black;
}

.title{
    width: 100%;
    height: 20vh;
    min-height: 200px;
    top: -10vh;
    position: relative;
}
.title_pic{
    margin: 0 auto 0 auto;
    width: 18vw;
    height: 18vw;
    min-width: 65px;
    max-width: 120px;
    min-height: 65px;
    max-height: 120px;
    background:url(../resources/image_resources/team_title.webp) no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    border: 7px white solid;
    
}
.title_text{
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 4em;
    margin-top: 3vh;
    color: rgb(35, 30, 30);
}


.team_member{
    width: 28vw;
    height: 40vh;
    border-radius: 1vw;
    border: 1px white solid;
    background: url(../resources/image_resources/home.webp) no-repeat;
    background-size: 100% 100%;
    margin-top: 1vh;
    color: rgb(222, 217, 217);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.team_image_cover{
    width: 60%;
    height: 50%;
}
.team_image_cover img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px white solid;
}
.team_member_description{
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 2vw;
}

.team_member_description p{
    font-size: 2.3em;
}
@media (max-width: 500px) {
    .team_member{
        width: 48vw;
    }
    .team_image_cover{
        width: 90%;
    }
    .title{
        top: -5vh;
    }
}