#team{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5vh;
    background: url('../resources/image_resources/welcome.webp') no-repeat;
    background-size: 100% 100%;
}

#team_title{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
}
#team_title h3{
    position: relative;
    width: 50vw;
    height: 35%;
    background-color: var(--light-bg-color);
    color: var(--main-bg-color);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: -30%;
    border-radius: 2vw;
    padding: 1vh;
    border: 1px white solid;
    font-size: 5em;
    text-align: center;
}


.team_member{
    width: 28vw;
    height: 40vh;
    border-radius: 1vw;
    border: 1px white solid;
    background-color: var(--main-bg-color);
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.team_image_cover{
    width: 60%;
    height: 50%;
}
.team_image_cover img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px white solid;
}
.team_member_description{
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 2vw;
}

.team_member_description p{
    font-size: 2.3em;
}
@media (max-width: 500px) {
    .team_member{
        width: 45vw;
    }
    .team_image_cover{
        width: 90%;
    }
}