#welcome{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5;
}

#welcome_logo{
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
}
#welcome_logo img{
    min-width: 30px;
    max-width: 100px;
    min-height: 40px;
    margin-left: 3vw;
    height: 5vh;
    object-fit:fill;
}
#welcome_slides{
    position: relative;
    width: 100vw;
    height: 55vh;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 0 0 0;
}
.slideW{
    position: absolute;
    display: none;
}
.slideW h1{
    color: rgb(184, 160, 117);
    font-size: 7vw;
}
.slideW h2{
    width: 100vw;
    font-size: 4vw;
    color: rgb(236, 233, 233);
    word-spacing: 0.1em;
    letter-spacing: 0.01em;
    line-height: 160%;
    font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
    font-stretch:extra-expanded;
}

#welcome_contact{
    width: 50vw;
    height: 10vh;
    margin: 1vh auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}

#welcome_contact button{
    width: 100%;
    height: 100%;
    border: 1px white solid;
    border-radius: 2vw;
}
.fade_left {
    animation-name: fade_left;
    animation-duration: 2s;
  }
.fade_right{
    animation-name: fade_right;
    animation-duration: 2s;    
}
.fade_up{
    animation-name: fade_up;
    animation-duration: 2s; 
}
  
  @keyframes fade_left {
    from {left: 100vw}
    to {left: 0}
  }
  @keyframes fade_right {
    from {right : 100vw}
    to {right : 0}
  }
  @keyframes fade_up {
    from {top : 100vh}
    to {top : 0}
  }
@media (max-width: 500px) {
    #welcome{
        background-size: 120% 100%;
    }
    #welcome_slides{
        margin-top: 10vh;
    }
    .slideW h1{
        font-size: 12vw;
        margin-bottom: 5vh;
    }
    .slideW h2{
        font-size: 7vw;
        margin-bottom: 5vh;
    }

    #welcome_contact{
        height: 5vh;
        width: 70vw;
        gap: 10vw;
    }
}