---
title: Clean Hands Painting
<!-- cta: Contact Us
cta_link: /contact/ -->
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="home/style.css">
</head>
<body>
    {% include nav.html %}
    <main>
        <section id="hero">
            <div id="hero_text">
                <h1>Clean Hands Painting</h1>
                <p>We deliver quality painting and artistic services that elevates and beautifies your surroundings</p>
                <ul id="hero_list">
                    <li>Quality Work</li>
                    <li>Best Customer Service</li>
                    <li>On time project delivery</li>
                </ul>
                <div id="hero_text_action">
                    <a href="/contact/" class="action_button">Contact Us</a>
                    <p>Call us on +233 20 219 1728</p>
                </div>
            </div>
        </section>
        <section id="services">
            <h2><u>Work we do</u></h2>
            <div id="services_boxes">
                <div class="service">
                    <img src="/images/stonedesign_23.webp" alt="">
                    <header>House Painting</header>
                    <p>Transform your home with our expert house painting service. Quality, efficiency, and professionalism guaranteed</p>
                </div>
                <div class="service">
                    <img src="/images/stonedesign_7.webp" alt="">
                    <header>Light Fixtures</header>
                    <p>Illuminate your space with our expert light fixture installation services. Brighten your home with style and functionality.</p>
                </div>
                <div class="service">
                    <img src="/images/stonedesign_13.webp" alt="">
                    <header>Ceiling Design</header>
                    <p>Elevate your space with stunning ceiling designs. Transform your room with elegance and sophistication.</p>
                </div>
                <div class="service">
                    <img src="/images/stonedesign_19.webp" alt="">
                    <header>Stone Design</header>
                    <p>Upgrade your space with beautiful stone designs. Bring natural charm and elegance to your surroundings.</p>
                </div>
                <div class="service">
                    <img src="/images/stonedesign_22.webp" alt="">
                    <header>Craft Work</header>
                    <p>Add character to your space with custom craftwork. Personalize your environment with unique handmade touches.</p>
                </div>
                <div class="service">
                    <img src="/images/all(2).webp" alt="">
                    <header>Interior Design</header>
                    <p>Stylish interior design to elevate your space and reflect your unique taste.</p>
                </div>
            </div>
            <a href="/services/" class="action_button">See all</a>
        </section>
        <section id="location">
            <div id="location_text">
                <h2>Locations We Serve</h2>
                <p>
                    Our professional painting services extends to a wide array of physical locations. 
                    Our team is committed and ready to deliver exceptional results to you. 
                    Explore the list of our physical locations below to find out if we serve your area.
                </p>
                <ul>
                    <li>Greater Accra Region</li>
                    <li>Volta Region</li>
                    <li>Eastern Region</li>
                    <li>Oti Region</li>
                    <li>Ashanti Region</li>
                </ul>
            </div>
            <div id="about_img"><img src="/images/map.png" alt=""></div>
        </section>
        <section id="reviews">
            <div class="review">
                <p>This team effortlessly revived my space with cheerful colors. They were friendly, efficient, and made the entire process stress-free. Highly recommend!</p>
                <header>- James Koduah</header>
            </div>
            <div class="review">
                <p>This team effortlessly revived my space with cheerful colors. They were friendly, efficient, and made the entire process stress-free. Highly recommend!</p>
                <header>- James Koduah</header>
            </div>
            <div class="review">
                <p>This team effortlessly revived my space with cheerful colors. They were friendly, efficient, and made the entire process stress-free. Highly recommend!</p>
                <header>- James Koduah</header>
            </div>
        </section>
        <section id="contact">
            <div id="contact_content">
                <div id="contact_media">
                    <div id="contact_media_text">
                    </div>
                    <div id="contact_media_links">
                        <a class="item"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a class="item"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a class="item"><ion-icon name="logo-whatsapp"></ion-icon></a>
                        <a class="item"><ion-icon name="logo-tiktok"></ion-icon></a>
                        <a class="item"><ion-icon name="call-outline"></ion-icon></a>
                        <a class="item"><ion-icon name="mail-outline"></ion-icon></a>
                    </div>
                </div>
                <div id="contact_email">
                    <div id="email_box" class="box">
                        <header>Contact Via Email</header>
                        <div>
                            <p>Your Name</p>
                            <input type="text">
                        </div>
                        <div>
                            <p>Your Email</p>
                            <input type="email">
                        </div>
                        <div>
                            <p>Your Message</p>
                            <textarea></textarea>
                        </div>
                        <div>
                            <button>Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</body>
</html>