---
title: Gallery | Clean Hands Painting
---
<!DOCTYPE html>
<html lang="en">
<head id="head">
    {% include head.html %}
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="display_pictures.css">
    <link rel="stylesheet" href="loading.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body id="body">
    {% include nav.html %}
    <main id="main">
    </main>
    <div id="loading">
        <div class="loading_object">
        </div>
    </div>
    <footer>
        <button id="seemore" onclick="populate()">See More ></button>
    </footer>
    <sub>
        <!-- display_pictures.css -->
        <div id="full_display">
            <div id="full_display_close" onclick="full_display_close(true)">
                <ion-icon id="close_button" name="close-outline" color="light"></ion-icon>
            </div>
            <!-- <div id="full_display_previous" onclick="full_display_change(0)">
                <ion-icon name="caret-back-outline" id="full_display_previous_button"></ion-icon>
            </div>
            <div id="full_display_next" onclick="full_display_change(1)">
                <ion-icon name="caret-forward-outline" id="full_display_next_button"></ion-icon>
            </div> -->
            <div id="full_display_pic">
                <img src="" id="full_display_img">
            </div>
        </div>
    </sub>

    <script src="populate.js"></script>
    <script src="full_display.js"></script>
</body>
</html>