*{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
body{
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

main{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main img{
    width: 49vw;
    height: 120px;
    object-fit: cover;
    margin-bottom: 3px;
}
button{
    width: 100vw;
    height: 40px;
    background-color: #000;
    color: #ddd;
    cursor: pointer;
    border: 1px #222 solid;
    margin-top: 10px;
}

@media (min-width: 600px) {
    main img{
        height: 250px;
        width: 32vw;
        margin-bottom: 6px;
    }
}

@media (min-width: 750px) {
    main img{
        padding: 1vw;
        border: 1px #ccc solid;
        width: 22vw;
        height: 300px;
        margin-bottom: 12px;
    }
}
