---
title: About | Clean Hands Painting
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
</head>
<body>
    {% include nav.html %}
    <main>
        <section id="hero">
            <h1>Contact Us</h1>
        </section>
        <section id="text">
            <div id="text1">
                <h2>We would love to hear from you</h2>
                <p>We would love to hear from you! Whether you have questions, want to discuss a project, or simply want to say hello, don't hesitate to reach out. Our team is here and ready to assist you in any way we can. Contact us today and let's bring your painting dreams to life!</p>
            </div>
            <div id="text2">
                <header>Our Socials</header>
                <div id="socials">
                    <a class="social"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a class="social"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a class="social"><ion-icon name="logo-whatsapp"></ion-icon></a>
                    <a class="social"><ion-icon name="logo-tiktok"></ion-icon></a>
                    <a class="social"><ion-icon name="call"></ion-icon></a>
                    <a class="social"><ion-icon name="mail"></ion-icon></a>
                </div>
            </div>
        </section>
        <form id="form">
            <div id="name" class="sm">
                <p>Name</p>
                <input type="text" placeholder="Your Name" required>
            </div>
            <div id="email" class="sm">
                <p>Email</p>
                <input type="email" placeholder="Your Email" required>
            </div>
            <div id="phone" class="sm">
                <p>Phone Number</p>
                <input type="text" placeholder="Your Phone Number (optional)">
            </div>
            <div id="message_box">
                <p>Your Message</p>
                <textarea id="message" placeholder="Enter your message"></textarea>
            </div>
            <div>
                <button>Submit</button>
            </div>
        </form>

    </main>
    {% include footer.html %}
</body>
</html>