<footer>
    <div id="footer_socials">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
    <div id="footer_logo">
        <img src="/images/logo.webp" alt="">
    </div>
    <header id="footer_header">Clean Hands Painting Company</header>
    <div id="footer_links">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/services/">Services</a>
        <a href="/gallery/">Gallery</a>
        <a href="/contact/">Contact</a>
    </div>
</footer>