---
title: About | Clean Hands Painting
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
</head>
<body>
    {% include nav.html %}
    <main>
        <section id="hero">
            <img src="/images/coffee5.jpeg" alt="">
            <h1>About Us</h1>
            <p>
                At Clean Hands Painting, we're passionate about painting. For over 5 years, 
                we've been dedicated to making homes beautiful. Our friendly team listens to your ideas 
                and works hard to bring them to life. From start to finish, we're here to make your space shine.
            </p>
        </section>
        <section id="team">
            <h2>Meet the Team</h2>
            <div id="team_boxes">
                <div class="team">
                    <img src="/images/prince35.webp" alt="">
                    <header>Prince Vigbedor</header>
                    <p>Master Designer</p>
                </div>
                <div class="team">
                    <img src="/images/prince35.webp" alt="">
                    <header>Prince Vigbedor</header>
                    <p>Master Designer</p>
                </div>
                <div class="team">
                    <img src="/images/prince35.webp" alt="">
                    <header>Prince Vigbedor</header>
                    <p>Master Designer</p>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</body>
</html>