---
title: About | Clean Hands Painting
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
</head>
<body>
    {% include nav.html %}
    <main>
        <section id="hero">
            <img src="/images/coffee5.jpeg" alt="">
            <h1>About Us</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque quam expedita deleniti exercitationem, labore corporis. Molestias ipsa quae recusandae doloremque, officiis reprehenderit doloribus deserunt iste dignissimos, minus, in veniam rerum.</p>
        </section>
        <section id="team">
            <h2>Meet the Team</h2>
            <div id="team_boxes">
                <div class="team">
                    <img src="/images/prince35.webp" alt="">
                    <header>Prince Vigbedor</header>
                    <p>Master Designer</p>
                </div>
                <div class="team">
                    <img src="/images/stonedesign_7.webp" alt="">
                    <header>Light Fixtures</header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nesciunt quasi in, praesentium eaque a suscipit quaerat mollitia aperiam.</p>
                </div>
                <div class="team">
                    <img src="/images/stonedesign_13.webp" alt="">
                    <header>Ceiling Design</header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nesciunt quasi in, praesentium eaque a suscipit quaerat mollitia aperiam.</p>
                </div>
                <div class="team">
                    <img src="/images/stonedesign_19.webp" alt="">
                    <header>Stone Design</header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nesciunt quasi in, praesentium eaque a suscipit quaerat mollitia aperiam.</p>
                </div>
                <div class="team">
                    <img src="/images/stonedesign_22.webp" alt="">
                    <header>Craft Work</header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nesciunt quasi in, praesentium eaque a suscipit quaerat mollitia aperiam.</p>
                </div>
                <div class="team">
                    <img src="/images/all(2).webp" alt="">
                    <header>Interior Design</header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nesciunt quasi in, praesentium eaque a suscipit quaerat mollitia aperiam.</p>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
</body>
</html>